.header{
    /* background: linear-gradient(#5e5f1c17,#9ea0282a), url(/public/Images/Home/home_about.jpg); */
    /* background-size: cover;
    background-position: center; */
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}
.header_text{
    padding: 1rem 4rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 3px solid white;
}
.header_project_name{
    font-weight: 800;
    font-size: 7rem;
}
.header_tagline{
    font-size: 2rem;
}
.header_legend{
    display: flex;
    justify-content: center;
    width: 100%;
}
.header_legend > img{
    width: 150px;
   
  
}
.header_button{
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 99;
}
.backgroundOverlay {
    background-color: #1a1a1a;
    opacity: 0.3;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
@media screen and (max-width:576px){
    .header_project_name{
        font-weight: 800;
        font-size: 4rem;
    }
    .header_legend{
        font-size:2rem;
    }
    .header_tagline{
        font-size: 1.4rem;
    }
    .header_text{
        padding: 1rem 3rem 3rem 3rem;
    }

}