.greatSpacesSection {
  padding: 1rem 8rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  overflow: hidden;
  max-width: 1600px;
  margin-inline: auto;
  margin-block: 8rem;
}

/* content */

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50vw;
  /* margin-top: 7rem; */
}

.sectionHeading,
.subHeading {
  color: #1a1a1a;
}

.sectionHeading {
  font-size: 3rem;
  line-height: 41.6px;
  position: relative;
  padding-bottom: 2.8rem;
  font-weight: 600;
}

.sectionHeading::after {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  width: 64px;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
}

.subHeading {
  font-size: 2rem;
  font-weight: 600;
}

.description {
  color: #5a5a5a;
  line-height: 27px;
  text-align: justify;
  font-size: 14px;
}

/* contact section */

.call {
  color: #5a5a5a;
  font-size: 1.45rem;
  margin-bottom: 1.8rem;
  font-weight: 600;
}

.number {
  font-size: 2.8rem;
  font-weight: 500;
}
.section_image{
  width: 45vw;
  margin: -20px 0 0 -20px;
  padding: 0 20px 20px 0;
}
.borderContainer {
  /* border: 4px solid var(--color-primary); */
  background-color: #cfcfcf;
  margin: 16px 0 0 16px;
}

/* image wiget */
@media screen and (max-width:1024px){
  .greatSpacesSection{
    flex-direction: column;
  }
  .contentContainer {
    width: 90vw;
  }
  .section_image{
    width: 80vw;
    margin: -40px 0 0 -40px;
    padding: 0 40px 40px 0;

  }
  .borderContainer {
    margin: 32px 0 0 16px;
  }
  
}
@media screen and (max-width:991px){
  .greatSpacesSection {
    padding: 1rem 3rem;
  }

}
@media screen and (max-width:868px){
  .greatSpacesSection {
    flex-direction: column;
    gap: 2rem;
  }
  .contentContainer {
    width: 90vw;
  }


}
@media screen and (max-width:756px){
  .greatSpacesSection {
    padding: 1rem 2rem;
  }
  .section_image{
    width: 90vw;
    margin: -20px 0 0 -20px;
    padding: 0 20px 20px 0;

  }
  .borderContainer{
    width: 90vw;
  }
}