.safety{
    font-size: 4rem;
    padding-left: 8rem ;
    padding-block: 6rem;
    background: linear-gradient(to bottom, #0000001e,#0000001e), url(/static_files/banner_image.jpg);
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
   
  
  }
  .backgroundOverlay {
    background-color: #1a1a1a;
    opacity: 0.3;
    position: absolute;
    height: 300px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  @media screen and (max-width:756px){
    .heading {
      font-size: 3.5rem;
    }
    .heroTagline{
      font-size: 14px;
      text-align: center;
    }
    .safety{
      font-size: 3rem;
      text-align: center;
      padding-left: 0rem ;
    }
  
  }
  @media screen and (max-width:576px){
    .heading {
      font-size: 4rem;
    }
    .safety{
      font-size: 2rem;
    }
  
  }