.sections_container{
    background-color: #f3f3f3;
}
.container{
    padding: 4rem;
    background-color: white;
    overflow: hidden;
    max-width: 1600px;
    margin: auto;
}
.header{
    margin-block: 1rem 4rem;
    position: relative;
    text-align: center;
}
.header::after{
    content: "";
    display: block;
    position: absolute;
    height: 6px;
    width: 64px;
    left: 50%;
    bottom: -15px;;
    transform: translateX(-50%);
   
    background-color: var(--color-primary-dark);
}
.header > h2{
    font-size: 3rem;
}
.property_desc{
    font-size: 14px;
    color: rgb(99, 99, 99);
    text-align: center;
}
.projects_container{
    padding-block: 4rem;
}
.projects{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}



@media screen and (max-width:756px){
    .tablist{
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .container{
        padding: 4rem 1rem;
    }
   
}
@media screen and (max-width:576px){
    .container{
        padding: 2rem;
    }
    .header{
        text-align: center;
    }
    .header::after{
        left: 50%;
        transform: translateX(-50%);
    }

}

@media screen and (max-width:442px){
    .tabItem{
        font-size: 14px;
        padding: 1rem;
    }
}