.container{
    padding: 4rem;
    background-color: white;
    overflow: hidden;
}
.header{
    margin-block: 1rem 4rem;
    position: relative;
    text-align: center;
}
.header::after{
    content: "";
    display: block;
    position: absolute;
    height: 6px;
    width: 64px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
   
    background-color: var(--color-primary-dark);
}
.header > h2{
    font-size: 3rem;
}
.property_desc{
    font-size: 14px;
    color: rgb(99, 99, 99);
    text-align: center;
}
.projects_container{
    padding-block: 4rem;
}
.projects{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.tablist{
    display: flex;
  
    font-weight: 600;
    list-style: none;
}

.tabItem{
    padding: 1rem 2rem;
    cursor: pointer;
    border: 1px solid #cecece;
    
  
}

.selectedTab{
    background: rgb(134, 134, 134) !important ;
    color: white !important;
}


@media screen and (max-width:756px){
    .tablist{
        flex-wrap: wrap;
        justify-content: center;
        
    }
   
}
@media screen and (max-width:576px){
    .container{
        padding: 2rem;
    }
    .header{
        text-align: center;
    }
    .header::after{
        left: 50%;
        transform: translateX(-50%);
    }

}

@media screen and (max-width:442px){
    .tabItem{
        font-size: 14px;
        padding: 1rem;
    }
}