.header{
    height: 60vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 600;
}


@media screen and (max-width:576px) {
    .header{
        font-size: 2.5rem;
    }
    
}