.container{
    padding: 5rem;
    max-width: 1600px;
    margin: auto;
}
.header > h2{
    margin-bottom: 1rem;
}
.header > p{
    color: rgb(124, 124, 124);
}
.image{
    border: 1px solid rgb(192, 192, 192);
    cursor: pointer;
    height: 300px;
    object-fit: cover;
    padding: 5px;
}
@media screen and (max-width:756px){
    .container{
        padding: 5rem 1rem;
    }

}