.container{
    margin: auto;
    max-width: 1600px;
    padding-inline: 4rem;
}
.content_exterior{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.perSlide{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}
/* .perSlide_mobile{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 5px;

} */
.perSlide > img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.text_content{
    width: 30vw;
}
.text_content > p{
    text-align: justify;
}
.slider{
    width: 70vw;
}
.slider_mobile{
    display: none;
}
.info{
    font-size: 14px;
}
.head{
    font-size: 3rem;
    margin-block: 1rem 2rem;
}
.subhead{
    color: var(--color-primary-dark);
}

@media screen and (max-width:1200px){
    .content_exterior{
        flex-direction: column;
    }
    .container{
        padding-inline: 1rem;
    }
    .text_content{
        width: 90vw;
    }
    .slider{
        width: 90vw;
    }

}
@media screen and (max-width:991px){
    .perSlide{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}
@media screen and (max-width:756px){
    .slider{
        display: none;
    }
    .slider_mobile{
        display: block;
    }

   
     
}