.testimony_container{
    padding-inline: 8rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    overflow: hidden;
    padding-block: 8rem;
    background-color: white;
    max-width: 1600px;
    margin: auto;
}
.testimony_left{
    width: 40vw;
    max-width: 700px;
}
.header{
    position: relative;
    font-size: 3rem;
}
.header::after{
    content: "";
    display: block;
    position: absolute;
    height: 6px;
    width: 64px;
    bottom: -20px;
    background-color: var(--color-primary-dark);
}
.subheader{
    margin-block: 3.5rem;
    width: 45ch;
    color: #505050;
    font-size: 14px;
}
.testimony_card{
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 40vw;
    max-width: 700px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.123) 0px 5px 15px; */
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
}
.testimony_card_left{
    margin-top: 7rem;
}
.testimony_image{
    width: 200px;

}
.testimony_details{
    padding: 1.2rem;
}
.review_text{
    font-weight: 400;
    color:#535353;
    text-align: justify;
    margin-top: 1rem;
    font-size: 1.4rem;
}
.testimony_person{
    margin-top: 3rem;
}
.review_desg{
    color: var(--color-primary);
    font-weight: 600;
}

.testimony_right{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
@media screen and (max-width:1024px) {
    
    .testimony_container{
        flex-direction: column;
        padding-inline: 2rem;
        gap: 1rem;
    }
    .testimony_card{
        width: 80vw;
        max-width: 100%;
        margin-inline: auto;
    }
    .testimony_left{
        width: 90vw;
        max-width: 100%;
    }
    .subheader{
        width: 100%;
    }
    .testimony_right{
        gap: 1rem;
    }
}
@media screen and (max-width:756px){
    .testimony_container{
        padding-inline: 1rem;
    }
    .testimony_card{
        flex-direction: column;
        width: 100%;
        padding-block: 1rem;
        margin-bottom: 1rem;
    }
    .testimony_image{
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
    
    }
    .subheader{
        font-size: 14px;
    }

}