@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #57aa6e;
  --color-primary-dark: #e1ad01;
  --color-text: #62615c;
  --color-text-dark: #1e1810;
}

img {
  width: 100%;
  max-width: 750px;
}

a {
  text-decoration: none;
}
p,a,li{
  font-family: 'Poppins', sans-serif;
}
p,h1,h2,h3,h4,h5,h6,li,a,b,div{
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

  /* img {
    pointer-events: none;
  } */

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  background-color: white;
  height: 100vh;
}
/* .section_gap{
  margin-block: 8rem;
}
@media screen and (max-width:1024px){
  .section_gap{
    margin-block: 8rem;
  }
} */
.contact_us_fixed{
  position: fixed;
  z-index: 99;
  right: 0;
  top: 45%;
  background-color: #57aa6e;
  writing-mode: vertical-rl; /* 'rl' stands for right-to-left */
  text-orientation: mixed;
  white-space: nowrap;
  padding: 1rem;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  color: white;
}
.chatbot_container{
  position: fixed;
  z-index: 99;
  bottom: 10px;
  right: 10px;
}
.chatbot_btn{
  background: transparent;
  border: none;
  position: absolute;
  right: 0;
  bottom: 10px;
  cursor: pointer;
}
.chatbot{
  position: absolute;
  right: 70px;
  bottom: 10px;
}
.chatbot_btn > img{
  width: 60px;
}
.react-chatbot-kit-chat-bot-message {
  font-size: 1.3rem!important;
}
