@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #57aa6e;
  --color-primary-dark: #e1ad01;
  --color-text: #62615c;
  --color-text-dark: #1e1810;
}

img {
  width: 100%;
  max-width: 750px;
}

a {
  text-decoration: none;
}
p,a,li{
  font-family: 'Poppins', sans-serif;
}
p,h1,h2,h3,h4,h5,h6,li,a,b,div{
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

  /* img {
    pointer-events: none;
  } */

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  background-color: white;
  height: 100vh;
}
/* .section_gap{
  margin-block: 8rem;
}
@media screen and (max-width:1024px){
  .section_gap{
    margin-block: 8rem;
  }
} */

.chatbot_container{
  position: fixed;
  z-index: 99;
  bottom: 10px;
  right: 10px;
}
.chatbot_btn{
  background: transparent;
  border: none;
  position: absolute;
  right: 0;
  bottom: 10px;
  cursor: pointer;
}
.chatbot{
  position: absolute;
  right: 70px;
  bottom: 10px;
}
.chatbot_btn > img{
  width: 60px;
}
.react-chatbot-kit-chat-bot-message {
  font-size: 1.3rem!important;
}
.contact_us_fixed{
  position: fixed;
  z-index: 99;
  right: 0;
  top: 45%;
  background-color: #57aa6e;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  color: white;
}
.public_form_btn{
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  white-space: nowrap;
  padding: 1rem;
}

.public_form{
  background-color: #e9e9e9;
  width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999999;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.public_form_header{
  background-color: var(--color-primary);
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.public_form_header>button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.public_form > form{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}
.public_form > form> input{
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border:2px solid #d1d1d1;
}
.public_form > form> textarea{
  width: 100%;
  height: 70px;
  padding: 10px;
  border:2px solid #d1d1d1;
}
.special_button{
  
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 1px solid var(--color-primary);
    padding: 1rem;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease-out;
    width: fit-content;
}
.special_button:hover{
  background-color: white;
  color: black;
}
.form_overlay{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0000006b;
  height: 100vh;
  width: 100%;
  z-index: 100;
}